:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #3cb3ab;
  --disabled-color: #979797;
  --text-color: #7a7a7a;
  --main-bg-color: #fafafa;
  --active-color: #147a73;
  --main-font: "Commissioner", sans-serif;
}
